.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

main {
    background-color: #f1f5f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

#clickMe {
    background-color: transparent;
    color: black;
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 15px;
}

#clickMe:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-size: 15px;
}

p {
    background-color: lightyellow;
    color: darkblue;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.colorControl {
    margin: 10px;
    font-size: 18px;
}

.colorControl:hover {
    cursor: pointer;
    color: rgb(84, 136, 214);
}

.active {
    color: rgb(84, 136, 214);
}